<div class="slides-container" id="slides-container" >
  <div class="swiper-container">
    <div class="swiper-container__bg"></div>
    <div class="swiper-wrapper">
      <div class="fix">
        <div class="search-experts">
          <h2>Search <span>it experts</span> <br /> by technology</h2>
          <div class="search-experts-left__input">
            <div class="search__results"
            *ngIf="searchExpert">
              <div class="search__results-item"
              *ngFor="let expert of experts | filter:searchExpert"
              (click)="modal(expert)">
              {{expert.tech}}
                <i class="search__results-item_badge">
                  {{expert.numbers}}
                </i>
              </div>
            </div>
            <input id="search-experts"
              type="text" value=""
              placeholder="Angular, .NET, C#, etc"
              [(ngModel)]='searchExpert'/>
            <span *ngIf="!searchExpert"
                  class="search-arrow">
            </span>
            <span *ngIf="!(experts | filter:searchExpert).length"
            id="search-experts-noresults">no results</span>

          </div>
          <div class="search__description">
            We create an online expert search, which allows<br />
            to find an expert by <span>technology, experience <br /> and price.</span> Estimate a project and make a deal.
            <a>Show all experts</a>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal-wrapper"
    *ngIf="showModal">
    <div class="modal-message">
      <div class="search-experts">
        <div class="back" (click)="toogleModal()"> <   Back to search </div>
        <div class="modal-finded-experts">
          <div class="modal-finded-experts__item">
            <h2>{{findedExperts.tech}}</h2>
            <div class=""><span>{{findedExperts.numbers}}</span> experts found</div>
          </div>
          <img src="../../assets/Images/about-result-profiles.png" alt="">
        </div>
        <h2><span><a href="#">sign in</a></span> or <span><a href="#">sign up</a></span></h2>
        <div>to view our expert profiles</div>
      </div>

    </div>

</div>
